<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>waiter-availability-webapp</title>
    <link rel="stylesheet" href="/waiterwebapp.css">
</head>
<body>

    {{{body}}}

</body>
</html>
