<h1>Waiter Availability Webapp</h1>

<h2>{{message}}</h2>

<form class="selectday" action="" method="post">
<h4>Please select days and submit</h4>
<input type="checkbox" name="days" value="Monday">Monday</input>
<input type="checkbox" name="days" value="Tuesday">Tuesday</input>
<input type="checkbox" name="days" value="Wednesday">Wednesday</input>
<input type="checkbox" name="days" value="Thursday">Thursday</input>
<input type="checkbox" name="days" value="Friday">Friday</input>
<input type="checkbox" name="days" value="Sunday">Sunday</input>
<input type="checkbox" name="days" value="Saturday">Saturday</input><br><br>
<button type="submit" name="button">Submit</button>
</form>

<h2>{{msg}}</h2>
<h2>{{days}}</h2>
<a href="/admin"><button type="submit" name="button">Admin</button></a>
