<h1>Waiter Availability Webapp</h1>
<form class="firstMsg" action="" method="post">
  <h2>Put your name in the url e.g <p><i><mark>.../waiter/Nelson</mark></i></p></h2>
</form>
  <a href="/admin">
    <button type="submit" name="button">Admin</button>
  </a>
